.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.h1 {
	font-family: Verdana-Bold;
	font-size: 42px;
  text-transform: uppercase;
  padding-bottom: 20px;
  letter-spacing: 1.48px;
}

.h3 {
	font-family: Verdana;
	font-size: 30px;
  font-weight: bold;
}

.h4 {
	font-family: Verdana;
  font-size: 20px;
  text-align: center;
}

.age {
  margin-right: 70;
}

.name {
	font-family: Verdana-Bold;
	font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.48px;
}

.inline-block p {
  display: inline;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.div-center {
  display: table;
  margin: 0 auto;
}

.table-dark th, .table-dark td, .table-dark thead th, .table-dark tbody + tbody {
  border-color: transparent !important;
}
